<div class="menu-sidebar-content js-scrollbar1" style="background-color:#9adbdb;">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <li>
                <a routerLink="/category/1" routerLinkActive="active-link">Laptops</a>
            </li>
            <li>
                <a routerLink="/category/2" routerLinkActive="active-link">Mobile Phones</a>
            </li>
            <li>
                <a routerLink="/category/3" routerLinkActive="active-link">Bags</a>
            </li>
            <li>
                <a routerLink="/category/4" routerLinkActive="active-link">Accessories</a>
            </li>
            
        </ul>
    </nav>
</div>